@use 'base/variables' as v;
@use 'base/mixins' as m;

.inicio__boton-contenedor {
    margin-top: 2rem;
    max-width: 90%;
    @include m.tablet {        
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
}

.inicio__boton {
    @include m.boton(v.$azul, v.$blanco);
    text-transform: uppercase;
    margin: 2rem 2rem;
    border-radius: .5rem;
    @include m.tablet {
        width: auto;
    }
}

.boton__servicios {
    margin-bottom: 5rem;
}

.productos__heading {
    margin: 7rem 0 5rem 0;
}

.contacto__contenedor-inicio {
    @include m.contenedor;
    min-height: 50rem;
    background-image: linear-gradient(to right, rgba(v.$gris, 1), rgba(v.$negro, .3)), 
    image-set(url(../img/mujer-en-callcenter-usando-B2Chat.webp) 1x, url(../img/header_visual_rent_1.avif) 1x, url(../img/header_visual_rent_1.jpg) 1x,);
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: center, center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contacto__heading {
    text-transform: uppercase;
    color: lighten(v.$azul, 10%);
}
.contacto__descripcion {
    color: v.$blanco;
    font-size: 2.5rem;
}