@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    background-color: v.$azul;
    margin-top: 5rem;
    padding-top: 3rem;
    color: v.$blanco;
    
    &__grid {
        @include m.contenedor;
        @include m.tablet {
            @include m.grid(5, 3rem);
            grid-template-columns: 1.5fr 1fr 1fr 1fr 0.5fr;
            margin-bottom: 2rem;
        }
    }

    &__contenido {
        min-width: 25rem;
    }

    &__menu-redes {
        max-width: 15rem;
    }
    &__logo {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        transition: transform 0.2s ease;
        margin: 1rem;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__texto {
        line-height: 2;
        text-align: center;
        @include m.tablet {
            text-align: left;
        }
    }

    &__columna {
        text-align: center;

        @include m.tablet {
            text-align: left;
        }
    }

    &__titulo {
        font-weight: v.$bold;
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    &__lista {
        @include m.reset-lista;

        li {
            margin-bottom: 1rem;            
            justify-content: center;
            @include m.tablet {
                justify-content: left;
            }

            a {
                font-size: 1.4rem;
                color: v.$blanco;
                font-weight: v.$regular;
                transition: color 0.3s ease;

                &:hover {
                    color: v.$secundario;
                }
            }
        }
    }

    &__copyright {
        background-color: darken(v.$azul, 10);
        margin: 0;
        padding: 1.4rem 0;
        text-align: center;
        font-weight: v.$regular;

        &--regular {
            font-weight: v.$delgada;
        }
    }
}

